.topology-viewer {
  width: 100%;
  height: 100%;
  font-family: 'Overpass', sans-serif;
  background-color: #ededed;
  .topology-viewer__overflow-text-container {
    fill: #151515;
    rx: 15;
  }
  .topology-viewer__overflow-text {
    fill: #fff;
    text-anchor: middle;
    font-size: 14px;
  }
  .topology-viewer__label-background {
    fill: #fff;
    height: 26px;
    rx: 5px;
    opacity: 0.95;
    &.selected {
      fill: #0066CC
    }
  }
  .topology-viewer__label-text {
    font-weight: 300;
    font-size: 16px;
    &.selected {
      fill: white
    }
  }
  .topology-viewer__edge {
    stroke: #8B8D8F;
    &.danger {
      stroke: #c9190b;
    }
    &.warning {
      stroke: #f0ab00;
    }
    &.success {
      stroke: #92d400;
    }
    &.dashed {
      stroke-dasharray: 10
    }
    &.points {
      stroke-dasharray: 2, 5
    }
  }
  .topology-viewer__overflow-text-backdrop {
    opacity: 0.7;
    fill: #d2d2d2;
    rx: 15;
  }
  .topology-viewer__node {
    fill: white;
    cursor: pointer;
  }
  .topology-viewer__node-border {
    fill: white;
    &.selected {
      stroke: #0066CC;
      stroke-width: 4.4;
    }
  }
  .topology-viewer__line-arrow-normal {
    fill: #8B8D8F;
  }
  .topology-viewer__line-arrow-success {
    fill: #92d400;
  }
  .topology-viewer__line-arrow-warning {
    fill: #f0ab00;
  }
  .topology-viewer__line-arrow-danger {
    fill: #c9190b;
  }
}