.topology-viewer {
  width: 100%;
  height: 100%;
  font-family: 'Overpass', sans-serif;
  background-color: #ededed;
  .topology-viewer__overflow-text-container {
    fill: #151515
  }
  .topology-viewer__overflow-text {
    fill: #fff;
    text-anchor: middle;
  }
  .topology-viewer__label-background {
    fill: #fff;
    height: 26px;
    rx: 5px;
  }
  .topology-viewer__label-text {
    font-weight: 300;
    font-size: 16px;
  }
  .topology-viewer__edge-solid {
    stroke: #d2d2d2
  }
}